@import 'common';
$conWidth : 700px;
$conHeight : 100px;
$space : 5px;
$num:6;
$imgList:'../images/a.png',
        '../images/b.jpg',
        '../images/c.jpg',
        '../images/d.jpg',
        '../images/e.jpg',
        '../images/f.jpg',
        '../images/g.jpg',
        '../images/h.jpg',
        '../images/i.jpg',
        '../images/j.jpg',
        '../images/k.jpg',
        '../images/l.jpg',
;
$imgNum : length($imgList);
$totalWidth : $imgNum * (($conWidth - ($num+1)*$space)/$num + $space);
$interval : 4s;
$delay : 0.2s;
$stopTo : $interval + $delay +0.7s;

.container{
  margin: 50px auto;
  width: $conWidth;
}
.longSlideShow{
  @include setSize($conWidth,$conHeight);
  overflow: hidden;
  margin: $space 0;
  ul{
    position: relative;
    width: $totalWidth * 2;
  }
  li{
    @include setSize(($conWidth - ($num+1)*$space)/$num,$conHeight);
    background-position : center center ;
    background-size: cover;
    float: left;
    margin-left: $space;
    &:first-child{
      padding-left: 0;
    }

    //@for $i from 1 through $imgNum{
    //  &:nth-child(#{$i}){
    //    background-image: url( #{ nth($imgList,$i)} );
    //  }
    //  &:nth-child(#{$i+$imgNum}){
    //    background-image: url( #{ nth($imgList,$i)} );
    //  }
    //}
  }

}

ul{
  &.ret1{
    animation: $interval $delay inf,$interval $stopTo ret;
  }
  &.inf1{
    animation: $interval inf,$interval $stopTo inf;
  }
  &.ret2{
    animation: $interval $delay * 3 inf,$interval $stopTo ret;
  }
  &.inf2{
    animation: $interval $delay * 2 inf,$interval $stopTo inf;
  }
}

@keyframes ret{
  0% {left:0}
  10% {left:0}
  40% {left: -$conWidth+$space}
  60% {left: -$conWidth+$space}
  90%{left:0}
  100%{left:0}
}
@keyframes inf{
  0% {left:0}
  10% {left:0}
  40% {left: -$conWidth+$space}
  60% {left: -$conWidth+$space}
  90%{left: -2*$conWidth+$space*2}
  100%{left: -2*$conWidth+$space*2}
}

