@import "common";
$themeColor:#ea3a3a;
$FontColorDark:#1a1a1a;
//$FontColorLight:

.maincontent{
  padding: 10px;
  &>div{
    position: relative;
  }
}
.ns-header{
  @include setSize(1040px,100px);
  background: url("../images/news.png") no-repeat 20px 17px;
  h1{
    font-size: 36px;
    font-weight: 500;
    color: $FontColorDark;
    @include pAbs(left,170px,top,24px)
  }
}
%nnn-act{
  border-bottom: 2px $themeColor solid;
  color: $themeColor;
  font-weight: bold ;
  font-size: 14px;
}
.ns-pic-news{
  @include setSize(1040px,320px);
  .ns-pn-pic {
    @include setSize(590px, 320px);
    position: relative;

    .unslider-nav {
      @include pAbs(bottom, 15px, right, 20px);
    }
    ul li {
      position: relative;
    }
    ul li >.ns-blackbar {
      @include pAbs(bottom, 0px, left, 0px);
      @include setSize(590px, 24px);
      background: rgba(0, 0, 0, 0.6);
      font-size: 16px;
      color: #fff;
      padding: 12px;
    }
  }
  .ns-pn-news{
    @include pAbs(right,0,top,0);
    @include setSize(430px,320px);
    .ns-news-nav{
      width: 100%;
      &>div{
        float: left;
        @include setSize(50%,40px);
        border-bottom: 2px transparent solid;
        text-align: center;
        line-height: 40px;
      }
      &>div:hover{
        @extend %nnn-act;
      }
      .active-nnn{
        @extend %nnn-act;
      }
    }
    .ns-nnh-big{
      color: $FontColorDark;
      font-size: 16px;
      margin: 10px;
      text-align: center;
    }
    .ns-nnh-small{
      font-size: 12px;
    }
    .ns-news-contain{
      @include setSize(100%,180px);
      background: url("../images/list-bar.png") no-repeat 0px 13px;
    }
  }
}