@mixin browserEasy($attribute,$value){
  -webkit-#{$attribute}:$value;
  -moz-#{$attribute}:$value;
  -ms-#{$attribute}:$value;
  -o-#{$attribute}:$value;
  #{$attribute}:$value;
}
@mixin pAbs($direction1,$distance1,$direction2,$distance2){
  position: absolute;
  #{$direction1}:$distance1;
  #{$direction2}:$distance2;
}
@mixin opacity($opacity){
  opacity: $opacity;
  filter: alpha(opacity=$opacity * 100);
}